*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: GeistiMono-normal;
    src: url(Fonts/GeistMono-VariableFont_wght.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GeistiMono-semi-bold;
    src: url(Fonts/GeistMono-VariableFont_wght.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GeistiMono-bold;
    src: url(Fonts/GeistMono-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: bold;
    font-display: swap;
}

html,
body {
    height: 100vh;
    margin: 0;
}

body{
    background-image: url(image/papel-vintage-con-herramientas-de-peluqueria-para-dar-forma-la-barba.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'GeistiMono-normal', monospace;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}